{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "dabe7c35b8d4744ed89d95b7c84a2ecd0e38ab12"
                            #_#_:local/root "../open-source"}}}
