{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "1eaa17a5a77334060014bac26d56f4b45eb8ef58"
                            #_#_:local/root "../open-source"}}}
