{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "77919332b4b72f444ce1862fb8a8bdae05fc265c"
                            #_#_:local/root "../open-source"}}}
