{:paths ["src"]
 :deps  {}

 :aliases
 {:dev
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}}}

  ;; Before Closure logging API changes
  :cljs764
  {org.clojure/clojurescript {:mvn/version "1.10.764"}}

  ;; After Closure logging API changes
  :cljs844
  {org.clojure/clojurescript {:mvn/version "1.10.844"}}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}
                lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}
                lambdaisland/kaocha-junit-xml {:mvn/version "RELEASE"}}}

  :pedestal
  {:extra-deps {io.pedestal/pedestal.log {:mvn/version "0.5.8"}}}}}
